  body {
  background-image: url('/img/pexels-gursharndeep-singh-2898057.jpg');
}
  
  
  
  /******************** SECCIÓN 1  ********************/

  
  
  #titParteA {
   font-family: 'Josefin Sans', sans-serif;
font-style: normal;
font-weight: 1000;
    color:rgb(230, 255, 250);
    font-size: 45px;
    
  }

  #subtParteA {
    font-family: 'Josefin Sans', sans-serif; 
    color:rgb(8, 132, 109);
    font-size: 1.2vw;
    line-height: 35px;  
    font-weight: 1000;
  } 

  #li1 {
    background-color: #B6BBC3;
    font-family: 'Josefin Sans', sans-serif; 
    color: rgb(8, 132, 109);
    opacity: 0.9;
  }

  #li2 {
    background-color: #B6BBC3;
    font-family: 'Josefin Sans', sans-serif; 
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li3 {
    background-color: #B6BBC3;
    font-family: 'Josefin Sans', sans-serif; 
    color: #FDFAF2;
    opacity: 0.9;
  }

  #li4 {
    background-color: #B6BBC3;
    font-family: 'Josefin Sans', sans-serif; 
    color: #FDFAF2;
    opacity: 0.9;
  }

#fotosindex {
  width:100%;
  height:100%;
}








/******** Video ********/





/******************** MEDIA QUERIES ********************/

/******** Smaller smartphones ********/

@media (max-width: 480px) {
  #titParteA{font-size: 22px} 
  #subtParteA{font-size: 18px}
  }

/******** Tablets and larger smartphones ********/

@media (min-width: 481px) and (max-width: 768px) {
  #titParteA{font-size: 22px} 
  #subtParteA{font-size: 18px}
}

/******** Laptops, larger tablets in landscape and small desktops ********/

@media (min-width: 769px) and (max-width: 1279px) {
  #titParteA{
    font-size: 22px;
  } 
  #subtParteA{
    font-size: 18px;
  }
}

/******** Larger desktops and monitors ********/

@media (min-width: 1280px) {}

