<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Inicio'}) %>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include('./partials/header') %>


    
   
    <!-------------------- Macetas ---------------------->

    <section class="container-fluid mb-2">
        
        <br><br><br><br><br><br><br><br><br><br><br><br><div class="row m-2 align-items-center justify-content-evenly">

            <div class = "col-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="/img/indexSection2/MacetaDonClaroOscuro_2Up_9365-Edit_fcf77785-f003-451a-816a-c850d929f8a5_800x.png" class="rounded opacity-75 shadow-sm" style="max-width: 100%; max-height: 100%;" alt="Contenido no disponible en este momento">
            </div>

            <div class = "col-12 col-sm-12 col-md-6 col-lg-6">

                <div class="d-flex flex-column mb-3 justify-content-center align-items-start m-2 p-2">

                    <h2 class="p-2" id="titParteA">Macetas</h2>

                <div class = "p-2">
                
                <p class="p-2" id="subtParteA"> Elaboramos macetas y artesanías a pedido.</p>
                
                </div>
                <!-- Modal gallery -->
<section class="">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/img/MacetaDonClaroOscuro_2Up_9365-Edit_fcf77785-f003-451a-816a-c850d929f8a5_800x.png"
              id="fotosindex"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/img/[Downloader.la]-62f3ba5a591ec.jpg"
              class="w-100"
              id="fotosindex"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
  
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/img/index.jpg"
              class="w-100"
              id="fotosindex"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  
    <!-- Section: Modals -->
    <section class="">
      <!-- Modal 1 -->
      <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        aria-labelledby="exampleModal1Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/A3PDXmYoF5U"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 2 -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModal2Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/wTcNtgA6gHs"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal 3 -->
      <div
        class="modal fade"
        id="exampleModal3"
        tabindex="-1"
        aria-labelledby="exampleModal3Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/vlDzYIIOYmM"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
  
            <div class="text-center py-3">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Modals -->
  </section>
  <!-- Modal gallery -->
               

        </div>

    </section>
    <!-------------------- VIDEO ---------------------->
    
    <div class="video text-center col-12"> 
        <video class="w-90 p-3" playsinline autoplay muted loop>
            <source src="/video/oa.mp4">
          </video>
      </div> 



	
    <script src="/js/cart.js"></script>
</body>
<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgb(8, 132, 109);">
      © 2023 Copyright:
      <a class="text-white" href="https://Plany.com/">Plany.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>
